<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>File Manager</title>
    <script type="text/javascript" src="{{ asset('bundles/recognizefilemanager/js/jquery-1.11.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/recognizefilemanager/js/jstree.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/recognizefilemanager/js/SimpleAjaxUploader.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/recognizefilemanager/js/FilemanagerEventHandler.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/recognizefilemanager/js/FileTree.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/recognizefilemanager/js/FilemanagerApi.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/recognizefilemanager/js/FileTreeView.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/recognizefilemanager/js/filemanager.jquery.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/recognizefilemanager/themes/default/style.css') }}" />
</head>
<body>

    <style>
        .directories { float: left; }
        .mainview { float:left; }
        .filemanagerrow:hover {
            cursor: pointer;
        }
        .filemanagerrow.disabled:hover {
            cursor: not-allowed;
        }

        p.selected {
            background: #009900;
        }

    </style>
    <div class="filetree">
        <div class="titlebar"></div>
        <div class="directories"></div>
        <div class="mainview"></div>

        <script type="text/javascript">
            var filetree = $('.filetree').filemanager({ debug: true, api: { url: window.location.origin + "/admin/fileapi", startingDirectory: "" } });
        </script>
    </div>
</body>
</html>
